:root{
    box-sizing: border-box;
    --inner-width: 80%;
    --bg-hero: #1f2937;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.inner-width {
    width: var(--inner-width);
    margin: 0 auto;
    padding: 1rem;
}
hr { margin:0; padding:0; border: 1px solid transparent; }
header { background-color: var(--bg-hero); color: white; }
header .inner-width {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header ul { margin:0; padding:0; display: flex; gap: 2rem;}
header li { list-style-type: none;}
header a { color: white; text-decoration: none; padding: 0.5rem; border: 1px solid transparent; border-radius: 5px; }
header a:hover { border: 1px solid white; border-radius: 5px; }


